@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300;1,600&display=swap');


body{
   font-size: 18px;
   font-family: 'Open Sans', sans-serif;
   text-align: center;
}
ul{
   display: flex;
   max-width: 550px;
   margin: 0 auto 50px auto;
   list-style-type: none;
}
li{
   text-align: left;
   padding: 12px;
}
label{
   justify-content: center;
   display: flex;
   background-color: grey;
   margin-top: 20px;
}
label div{
   padding-right: 40px;
   padding-left: 40px;
}